@keyframes spin {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.download-pdf {
  position: fixed;
  width: 48px;
  height: 48px;
  bottom: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  color: #fff;
  border-radius: 50px;
  padding: 5px;
  box-shadow: 2px 2px 3px var(--bg-color);
  font-size: 1.3rem;
  border: 0;
  cursor: pointer;
}

.download-pdf.spin {
  animation: spin 1s ease infinite;
}
