:root {
  --bg-color: #f4f1ea;
  --text-color: #1f2a2e;
  --primary-color: #1e6b73;
  --secondary-color: #6a8e92;
  --font-body: 15px;
  --font-h1: 2rem;
  --font-h2: 1.5rem;
  --font-h3: 1.3rem;
  --font-h4: 1.2rem;
  --font-h5: 1.1rem;
  --font-h6: 1rem;
}

body,
html {
  margin: 0;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font: normal var(--font-body) arial, sans-serif;
}

h1,
a,
a:active,
a:visited,
a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: var(--font-h1);
}

h2 {
  font-size: var(--font-h2);
}

h3 {
  font-size: var(--font-h3);
}

h4 {
  font-size: var(--font-h4);
}

h5 {
  font-size: var(--font-h5);
}

h6 {
  font-size: var(--font-h6);
}

.container {
  margin: auto;
  max-width: 1080px;
  background: #fff;
  box-shadow: 0px 0px 0 1px #dfe9eb, 0 12px 24px #dfe9eb;
}

.content {
  padding: 1.2rem 1.1rem 0.35rem;
  display: grid;
  grid-row: auto;
  row-gap: 1rem;
  margin-top: 0.2rem;
  background: #ffffff;
  border-radius: 0 0 18px 18px;
  box-shadow: 0 10px 18px #edf2f2;
}

.content > div {
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  row-gap: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 800px) {
  .content > div {
    grid-template-columns: 60% 34%;
    column-gap: 1.2rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}
